@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:600|Slabo+27px');


:root {

    --color1: #FDFFA3; /* almost white */
    --color2: #BDE890;
    --color3: #7F7840;
    --color4: #517F41;
    --color5: #1E2E25; /* dark green */

}

body {

    /* background-color: #9EFFA1; */
    background-color: var(--color3);
    text-align: center;
}

h1 {
    /* text-align: center;
    color: #2E4A2F; */
    font-family: 'Slabo 27px', serif;
    font-size: 40px;
}
div > * {
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
}
li {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


a {
    display: flex;
    justify-content: center;
    align-self: center;
    padding-left: 50px;
    color: var(--color5);
    text-decoration: none;
}

a:before {
    content: url(train1_small.png);
}

a:visited {
    color: var(--color5);
}

a:active {
    color: var(--color3);
}

/*
img {
    border-color: #7ECC81;
    border-style: solid;
    border-width: 5px;
}
*/

#content {

    margin: auto;
    background-color: var(--color2);
    width: 80%;

}

#header {
    background-color: var(--color1);
    color: var(--color5);
    padding: 10px;
}

#textbox {

    padding-top: 85px;
    padding-bottom: 85px;
    max-width: 60%;
    margin: auto;

}

#pictureframe {

    width: 90%;
    margin: auto;

}

#picture {

    padding-top: 25px;
    max-height: 450px;
    max-width: 100%;
    margin: auto;

}
