<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="/style.css"/>
    <meta charset="UTF-8"/>
    <title>Vart är vi på väg?</title>
</head>
<body>

<div id="content">

    <div id="header">
        <h1>Det var (tyvärr) sista resmålet för denna gång..</h1>
    </div>
    <div><p th:text="${playerPoints}"></p></div>

    <div id="pictureframe">
        <img id="picture"
             src="http://www.bohusräddningstjänstförbund.se/images/18.2036a7d6140eabb4d3a5f9/1378720548846/pa_resa.jpg"/>
    </div>
    <a class="arrow" href="/startview">Gå till spelets startsida</a>

</div>

</body>
</html>