<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Vart är vi på väg?</title>

    <link rel="stylesheet" href="/style.css"/>


</head>
<body>
<div id="content">
    <div id="header">
        <h1>Vart är vi på väg?</h1>
    </div>

    <!-- <img width="600" th:src="${pictureurl}"></img> -->

    <div id="pictureframe">
        <img id="picture" th:src="${pictureurl}"/>
    </div>

    <ul>
        <li th:each="city : ${cityList}">
            <a th:href="@{/option/{name}(name=${city})}" th:text="${city}" />
        </li>
    </ul>

    <a href="/option/vetej">Jag vill svara på en lägre poängnivå!</a>


</div>

</body>
</html>
