<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="/style.css"/>
    <meta charset="UTF-8"/>
    <title>Vart är vi på väg?</title>
</head>
<body>
<div id="content">

    <div id="header">
        <a href="/exitgame">
            <div id="logo">
                <img src="/logo_small.png"/>
                <br/>
                HEM
            </div>
        </a>
        <h1>Vart är vi på väg?</h1>
    </div>

    <div>
        <img id="world" src="http://pluspng.com/img-png/png-global--1000.png"></img>
    </div>
    <div id="textbox">

        <p>
            Res runt i världen och svara via bildledtrådar på var du befinner dig.
        </p>
        <p>
            Första bilden på varje stad är värd 10 poäng.
        </p>
        <p>
            Är den för svår? Välj då alternativet "Jag vill svara på en lägre nivå" för att få se en bild som är värd
            två poäng mindre.
        </p>
        <p>
            Svarar du inte rätt på 2-poängsnivån får du inte med dig några poäng från det resmålet.
        </p>
        <p>
            Samla poäng, erfarenhet och intryck på resan och se om du kan överträffa tidigare resenärers highscore.
        </p>
        <p>
            Nu kör vi!
        </p>
    </div>
    <a class="arrow" href="/showview" th:text="${startbutton}"></a>
</div>
</body>
</html>