<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="/style.css"/>
    <meta charset="UTF-8"/>
    <title>Vart är vi på väg?</title>
</head>
<body>
<div id="content">

        <div id="header">
        <h1>Vart är vi på väg?</h1>
    </div>

    <div id="textbox">
    <p>
        Välkommen till “Vart är vi på väg?”.
    </p>
        <p>
        På er resa kommer ni besöka ett antal städer och se ledtrådar i form av olika bilder.
        </p>
        <p>
        Första bilden på varje stad är värd 10 poäng.
        </p>
        <p>
        Är den för svår? Välj då alternativet "Jag vill svara på en lägre nivå" för att få se en bild som är värd två poäng mindre.
        </p>
        <p>
        Svarar ni inte rätt på 2-poängsnivån får ni inte med er några poäng från det resmålet.
        </p>
        <p>
        Samla poäng, erfarenhet och intryck på resan och se om du kan överträffa tidigare resenärers highscore.
        </p>
    <p>
        Nu kör vi!
    </p>
    </div>


    <a href="/showview">Play game</a>
    <!-- <button th:href="${startbutton}"></button> -->
</div>
</body>
</html>